useDynLib(changepointTests,.registration = TRUE)
export(bootstrapfun)
export(cpCopStats)
export(cpCopMultStats)
export(emp.cdf)
export(cpCopDStats)
export(cpCopStatsBKRS)
export(cpCopMultStatsBKRSNonSeq)
export(cpCopMultStatsBKRSSeq)
export(multiplierfun)
export(multiplierDSeqfun)
export(multiplierDNonSeqfun)
export(test.change.point.copula.BKRS)
export(test.change.point)
importFrom("stats", "rnorm")
importFrom("utils", "data")
importFrom("parallel", "detectCores","stopCluster","makeCluster")
importFrom("doParallel", "registerDoParallel")
importFrom("foreach","foreach", "%dopar%")

